@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
body::-webkit-scrollbar {
  display: none;
}

div::-webkit-scrollbar {
  display: none;
}


@layer components {
  /* start style navbar */
  .font_style_nav {
    @apply font-openSans font-semibold leading-[24px] text-ti_royel_blue;
  }
  .nav_shadow {
    border-bottom: 1px solid rgba(184, 203, 252, 0.3);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
  }
  .nav_btn {
    display: flex;
    height: 42px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 6px;
    color: white;
    background: var(--l-website-primary-color-blue, #2d65f2);
  }
  /* end style navbar */

  /* start style hero */
  .hero_title {
    /* L.Website/Title/Medium 22 */
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .hero_text {
    color: var(--l-website-text-color-dark-grey, #333);

    /* L.Website/Body/Body 16 */
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  .hero_btn {
    display: flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 6px;
    color: white;
    color: var(--l-website-bg-color-white, #fff);

    /* L.Website/Buttons/Button 18 */
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }
  .hero_web_frame {
    box-shadow: 16px 25px 32px 0px rgba(0, 0, 0, 0.2);
  }
  .hero_phn_frame {
    box-shadow: 0px 30px 40px 5px rgba(0, 0, 0, 0.2);
  }
  /* end style hero */

  /* start style connecting global */
  .connecting_global_title {
    color: var(--l-website-text-color-royal-blue, #000e32);
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .connecting_global_text {
    color: var(--l-website-primary-color-dark-blue, #174ad0);
    text-align: center;

    /* L.Website/Title/Medium 22 */
    font-family: "Open Sans";
    font-style: normal;

    line-height: normal;
  }
  .connecting_global_image {
    background: linear-gradient(
      90deg,
      #fff 0%,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0) 90%,
      #fff 100.01%
    );
  }

  .video_layer_3 {
    border-radius: 666px;
    opacity: 0.1;
    background: var(--l-website-bg-color-yellow, #fbeeca);
    flex-shrink: 0;
    z-index: 1000;
  }
  .video_layer_2 {
    opacity: 100;
    background: var(--l-website-primary-color-blue, #2d65f2);
    filter: blur(130px);
    z-index: 999;
  }
  .video_layer_1 {
    border-radius: 672px;
    opacity: 0.5;
    background: var(--l-website-bg-color-yellow, #fbeeca);
    filter: blur(130px);
    z-index: 998;
  }

  /* end style connecting global */

  /* start style brand potential animation */
  .brand_potential_animation_title {
    color: var(--l-website-text-color-royal-blue, #000e32);
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .brand_potential_animation_icon {
    width: 31.273px;
    height: 32px;
  }

  .brand_potential_animation_card {
    /* box-shadow: -3px -22px 5px -14px rgba(0,0,0,0.90); */
    box-shadow: 10px -24px 20px -38px rgba(0, 0, 0, 0.6);
  }

  /* card_animation_start */

  /* card_animation_end */
  /* end style brand potential animation */

  /* start style footer */
  .footer_text {
    color: white;
    /* L.Website/Body/Body 16 */
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .footer_title {
    color: var(--l-website-bg-color-white, #fff);
    text-align: center;

    /* L.Website/Title/Big 52 */

    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .footer_polygon {
    clip-path: polygon(0 90%, 100% 0, 100% 99%, 0% 100%);
  }
  /* end style footer */

  /* start style faq */
  .faq_text {
    text-align: center;

    /* L.Website/Title/Medium 22 */
    font-family: "Open Sans";

    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .faq_drop_down {
    color: var(--l-website-text-color-royal-blue, #000e32);

    /* L.Website/Title/Medium 22 */
    font-family: "Open Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .faq_more_qa {
    color: var(--l-website-primary-color-blue, #2d65f2);

    /* L.Website/Buttons/Button 18 */
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }

  /* end style faq */

  /* real time diagnostics start*/
  .real_time_diagnostics_title {
    text-align: center;

    /* L.Website/Title/Big 52 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .real_time_diagnostics_text {
    text-align: center;

    /* L.Website/Body/Body 16 */
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  .real_time_btn {
    display: flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 6px;
    border: 2px solid var(--l-website-primary-color-light-blue, #b8cbfc);
    /* L.Website/Buttons/Button 18 */
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }
  .real_time_btn:hover {
    padding: 14px 9px 14px 16px;
  }
  /* end real time diagnostics */

  /* start our innovative ai */
  .our_innovative_ai_title {
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .our_innovative_ai_text {
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 24px */
  }
  .our_innovative_ai_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--l-website-bg-color-white, #fff);

    font-family: "Open Sans";

    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }
  .our_innovative_ai_image {
    width: 1000px;
    height: 577.3px;
  }

  .our_innovative_ai_robot_head_shadow {
    width: 499.533px;
    height: 288.919px;
    flex-shrink: 0;
    border-radius: 499.533px;
    opacity: 0.4;
    background: var(--l-website-primary-color-blue, #2d65f2);
    filter: blur(129.6085968017578px);
  }
  .our_innovative_ai_robot_right_side_structure {
    /* width: 508.333px; */
  }
  /* end our innovative ai */

  /* start style stronger security */
  .stronger_security_title {
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .stronger_security_text {
    font-family: "Open Sans";

    font-style: normal;

    line-height: normal;
  }
  /* end style stronger security */

  /* start style scroll pin animation */
  .scroll_pin_animation_title {
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .scroll_pin_animation_text {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  /*  start style business pricing */

  .business_pricing_title {
    text-align: center;

    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .business_pricing_btn {
    display: flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    border-radius: 6px;
    /* L.Website/Buttons/Button 18 */
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }
  /*  end style business pricing */

  /* start style compare plans */
  .compare_plans_title {
    text-align: center;

    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .compare_plans_text {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  /* end style compare plans */
}

@layer utilities {
  .shadow-bottom {
    padding-top: 10px;
    box-shadow: 1px 4px 40px 10px rgba(0, 0, 0, 0.09);
  }
}